@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", san-serif;
  border: 0;
}

/* body */

body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 50px;
  color: rgb(21, 21, 100);
  text-align: center;
  padding: 100px;
}

h5 {
  font-size: 30px;
  color: rgb(21, 21, 100);
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  border: border-box;
  border-radius: 1rem;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 30px;
  margin-left: 150px;
  margin-bottom: 50px;
}
button:hover {
  background-color: white;
  color: #4caf50;
}
